# ====== Telekom IT Sec Recommendations ======

# Req 1
Protocol 2

# Req 3
KexAlgorithms curve25519-sha256@libssh.org,curve25519-sha256,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group18-sha512,diffie-hellman-group16-sha512,diffie-hellman-group14-sha256,diffie-hellman-group-exchange-sha256

# Req 4
Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

# Req 5
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-512,hmac-sha2-256-etm@openssh.com,hmac-sha2-256

# Req 6
HostKeyAlgorithms ssh-ed25519,ssh-ed25519-cert-v01@openssh.com,sk-ssh-ed25519@openssh.com,sk-ssh-ed25519-cert-v01@openssh.com,ecdsa-sha2-nistp521,ecdsa-sha2-nistp521-cert-v01@openssh.com,ecdsa-sha2-nistp384,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp256,ecdsa-sha2-nistp256-cert-v01@openssh.com,sk-ecdsa-sha2-nistp256@openssh.com,sk-ecdsa-sha2-nistp256-cert-v01@openssh.com

# Req 7
SyslogFacility AUTH
LogLevel INFO

# Req 8
LoginGraceTime 60

# Req 9
MaxAuthTries 5

# Req 10
PermitRootLogin no

# Req 11
StrictModes yes

# Req 12
PubkeyAuthentication yes

# Req 13
PasswordAuthentication no

# Req 14
IgnoreRhosts yes

# Req 15
HostbasedAuthentication no

# Req 17
ClientAliveInterval 60
ClientAliveCountMax 10

# Req 18
PermitTunnel no

# Req 19, 20, 21, 22
DisableForwarding yes

# Req 23
PermitUserEnvironment no

# Req 24
PermitEmptyPasswords no

# Req 25
Subsystem sftp internal-sftp
